@using System.Data;

@{
    ViewBag.Title = "Mostrar Registro de la Biomasa";
}

<h2 style="text-align:center;">@using System.Data;

@{
    ViewBag.Title = "Mostrar Registro de la Biomasa";
}

    <h2 style="text-align:center;">Mostrar Registro de la Biomasa</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarRegistroBiomasa</title>
</head>
<body>
    <h3>MostrarRegistroBiomasa</h3>
    <table class="table">
        <tr bgcolor="lightGray">
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Nombre del Productor</th>
            
        </tr>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["cantidad"]</td>
                <td>@row["estado"]</td>
                <td>@row["nombreProductor"]</td>
                
            </tr>
        }
    </table>
</body>
</html>






