@using System.Data;

@{
    ViewBag.Title = "HistorialReservasCliente";
}

<h2 style="text-align:center;">Historial de Reservaciones</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produccion</title>
</head>
<body>
    <table class="table">
        <tr bgcolor="lightGray">
            <th>CantidadBioabono</th>
            <th>CantidadEnergia</th>
            <th>biomasaUsada</th>
            <th>costo</th>
            
        </tr>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["CantidadBioabono"]</td>
                <td>@row["CantidadEnergia"]</td>
                <td>@row["biomasaUsada"]</td>
                <td>@row["costo"]</td>
                
            </tr>
        }
    </table>


</body>
</html>

<!-- dio el error de que el /productor/mostrarRegistroBiomasa-->

