@{
    ViewBag.Title = "Página Principal";
}
    <h1>@ViewBag.Title</h1>
    <h4>Utilizamos el café, la piña y los residuos de madera para la creación de biomasa a lo largo de Costa Rica</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/cafe.jpg">
                    <img src="~/images/cafe.jpg" alt="Café" style="width:100%">
                    <div class="caption">
                        
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/piña.jpg">
                    <img src="~/images/piña.jpg" alt="Piña" style="width:100%">
                    <div class="caption">
                        
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/troncos.jpg">
                    <img src="~/images/troncos.jpg" alt="Salon" style="width:100%">
                    <div class="caption">
                       
                    </div>
                </a>
            </div>
        </div>
    </div>

