@model ProjectWebPage.Models.TransportistaClass
    <h1>Detalle del transporte de la Biomasa</h1>
    @using (Html.BeginForm("MenuTrans", "Transportista", FormMethod.Post))
    {
        
        <div>
            <table>
                <tr>
                    <td>
                        código del Paquete:
                        @Html.EditorFor(model => model.IdPaquete, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        Fecha de entrega:
                        @Html.EditorFor(model => model.Entregado, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        Fecha de recibido:
                        @Html.EditorFor(model => model.Recibido, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        <input type="submit" value="Confirmar" />
                        @Html.ActionLink("Ver listado de viajes", "MostrarViajes")

                    </td>
                </tr>
            </table>
        </div>
    }


