@using System.Data;

@{
    ViewBag.Title = "Listado de paquetes que se han llevado en los viajes";
}

<h2 style="text-align:center;">Listado de paquetes que se han llevado en los viajes</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista paquetes</title>
</head>
<body>
    <table class="table">
        <tr bgcolor="lightGray">
            <th>IdPaquete</th>
            <th>Recibido</th>
            <th>Entregado</th>

        </tr>

    </table>


</body>
</html>

<!-- 




    va arroba foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>va arroba row["CantidadBioabono"]</td>
                <td>va arroba row["CantidadEnergia"]</td>
                <td>va arroba row["biomasaUsada"]</td>
                <td>va arroba row["costo"]</td>

            </tr>
        }-->
